body {
    margin: 0;
    padding: 0;
    width: 100%;
    transition: all .5s ease-in-out;
    color: #333;
}
#landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #172C47, #3386ee);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    animation: slideUpLanding 1s ease-in-out forwards 4s; /* Slide up after animations */
    font-family: Cooper Black, 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}
.landing-content {
    position: relative;
    text-align: center;
}
.rocon-title {
    font-size: 4rem;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
}
.rocon-title #one {color: #632763;}
.rocon-title #two {
    outline-color: #172C47;
    outline-width: 20pt;
}
.welcome-title {
    font-size: 3.4rem;
    opacity: 0;
    position: absolute;
    text-wrap-mode: nowrap;
    z-index: -1;
    top: 100%;
    left: 50%;
}
/* Keyframes for landing */
@keyframes peekUp {
    from {
        opacity: 0;
        transform: translate(-50%, 100%)
    } to {
        opacity: 1;
        transform: translate(-50%, -50%)
    }
}
@keyframes moveRight {
    from {
        opacity: 1;
        transform: translate(-50%, -50%)
    } to {
        opacity: 1;
        transform: translate(50%, -50%)
    }
}
@keyframes SmoveLeft {
    from {
        opacity: 1;
        transform: translate(50%, -50%)
    } to {
        opacity: 1;
        transform: translate(0%, -50%)
    }
}
@keyframes SmoveRight {
    from {
        opacity: 1;
        transform: translate(0%, -50%)
    } to {
        opacity: 1;
        transform: translate(50%, -50%)
    }
}
@keyframes peekLeft {
    from {
        opacity: 0;
        transform: translate(-50%, -50%)
    } to {
        opacity: 1;
        transform: translate(-100%, -50%)
    }
}
@keyframes peekRight {
    from {
        opacity: 1;
        transform: translate(-100%, -50%)
    } to {
        opacity: 0;
        transform: translate(-50%, -50%)
    }
}
@keyframes pullOut {
    from {
        border-radius: 0;
        opacity: 1;
    } to {
        border-radius: 10px;
        opacity: 0;
        transform: translateY(-100vh);
    }
}
/* Main Content */
#main-content {
    /* display: none; */
    width: 100%;
    opacity: 1;
}
@keyframes fadeInMain {from {opacity: 0;} to {opacity: 1;}}
@keyframes UpandDown {
    0% {transform: translateY(0%);}
    25% {transform: translateY(-50%);}
    50% {transform: translateY(0%);}
    75% {transform: translateY(50%);}
    100% {transform: translateY(0%);}
}
/* Scrollbar styles */
nav {
    position: fixed;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    width: inherit;
    background: linear-gradient(45deg, #172C47, #3386ee);
    line-height: 10vh;
    text-align: center;
    font-family: Cooper Black, 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    color: #fff;
    transition: all .3s ease-in-out;
}
nav:hover {
    background: linear-gradient(45deg, #632763 ,#3386ee, #172C47);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
}
nav a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}
.switch {
    height: 2em;
    width: 4em;
    display:inline-flex;
    background: transparent;
    border-color:#fff;
    border-radius: 1em;
    border-style: solid;
    align-items: center;
}
.switch button{
    height: 1.9em;
    width: 1.9em;
    border-radius: 50%;
    border-style: none;
    margin:.2em;
    transition: all 0.5s ease;
}
.switch1{
    height: 1em;
    width: 2em;
    border-radius: 50%;
}
.section {
    font-family: 'Georgia Pro Light', 'Times New Roman', 'Times', 'serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: transparent;
}
.rev {
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 5%;
}
.col-norm {flex-direction: column;}
.text-content {
    max-width: 50%;
    padding: 20px;
}
.text-content h1 {
    font-size: 28pt;
    font-weight: 500;
    text-align: center;
}
.space-text {
    text-align-last: justify;
    text-justify: distribute;
    padding-inline: 2rem;
}
.text-content p {font-size: 16px;}
.image-content img {
    width: 75%;
    border-radius: 8px;
    display: flex;
    justify-self: center;
    transition: all 0.45s ease-in-out;
}
.home .image-content img:hover{transform: rotateZ(360deg);}
#Quoted {
    text-align: center;
    text-overflow: clip;
    padding-inline: 1.61in 2.29in;
    display: inline-block;
}
#Quoted span {
    display: inline-block;
    padding: .5rem;
}
#Quoted h1{
    font-size: 28pt;
    font-weight: 500;
    text-align: center;
}
em{
    align-self: flex-end;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Fade-in animations */
.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.fade-in-from-bottom {transform: translateY(-100px);}
.fade-in-from-top {transform: translateY(100px);}
/* Fade-out animations */
.fade-out {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
/* Button Styling */
.themechange{

}
.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #3386ee, #172C47);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
/* Hover Effect */
.button:hover {
    background: linear-gradient(45deg, #3386ee, #172C47);
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
/* Active Effect */
.button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Glowing Border Effect */
.button::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #172C47, #3386ee, #632763);
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.button:hover::before {opacity: 1;}
/* Bounce Animation */
.button:hover {animation: bounce 0.3s ease-in-out;}
@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

.features .section{
    column-gap: 10%;
    margin-right: 0;
    justify-content: flex-end;
}
.features .text-context {text-align: center;}
.features .image-content {
    background: linear-gradient(45deg, #3386ee, #632763);
    width: 50%;
    height: 50%;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.features img {
    max-height: 80%;
    max-width: 80%;
    transform: rotateZ(-5deg);
    transition: all 0.4s ease;
}
.features .image-content img:hover{transform: rotateZ(10deg);}
.features .image-content .reflection:hover{transform: rotateZ(-10deg);}

.how-it-works nav {padding: 1%;}
.how-it-works .section {
    gap: 5%;
    justify-content: space-evenly;
}
.how-it-works .text-content{
    background: linear-gradient(45deg, #3386ee, #632763);
    width: 40%;
    height: 30%;
    align-content: center;
    padding: 2% 10% 2% 10%;
    color: white;
}

.how-it-works .text-content a {
    font-size: large;
    text-transform: capitalize;
    color: #3386ee;
    letter-spacing: 3px;
}
.how-it-works .text-content h1 {text-align: inherit;}

.download .text-content{padding-top: 10%;}
.download h2{text-align: center;}
.download .image-content{
    height: 100%;
    width: 100%;
    padding: 1%;
    align-content: center;
    justify-items: center;
    transition: all .5s ease;
    display: inline-block;
}
.download .section {
    opacity: 0;
    width: 100%;
    transition: all .5s ease;
}
.download .image-content:hover{
    background-color: #632763;
    color: white
}
.download footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}


.about-us .section {
    height: fit-content;
    padding-top: 10vh;
}
.about-us .hero {
    width: 100%;
    text-align: center;
}
.about-us .values {text-align: center;}
.about-us .value-box {
    display: inline-block;
    width: 30%;
    padding: 30px;
    text-transform: none;
    margin: 10px;
    border-radius: 8px;
}
.about-us .profile {
    display: inline-block;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.about-us .profile:hover {background-color: #632763;}
.about-us .profile-norm {background-color: #344C94;}
.about-us .profile-clicked {background-color: #3386ee;}
.profile-container {
    gap: 10px;
    padding: 10px;
    text-align: center;
    overflow-x: auto;
}
.about-us .profile .profile-detail {display: none;}
.about-us .profile img {
    max-width: 60%;
    border-radius: 50%;
}
.about-us #detail {
    background: linear-gradient(135deg, #172C47, #3386ee, #632763);
    width: 100%;
    color:white;
    transition: all 0.5 ease;
}
.about-us #detail:hover {background: linear-gradient(135deg, #632763, #3386ee, #172C47);}
.about-us #detail a {color: white;}
.about-us #detail h3 {text-align: center;}
.about-us #detail .section {
    padding: 15px;
    width: 100%;
}
.about-us #detail img {
    width: 80%;
    border-radius: 50%;
}
